.main{
    background-color: #FFF9F4;
}


.color-heighlit{
    color: #FA804C;
    font-size: 50px;
}
#button{
    
    padding: 10px;
    background-color: #546de5;
    border-radius: 5px #546de5;

}